html{
    font-size: 62.5%; /*10px si quiero que disminuya el tamaño de todo puedo disminuir el porcentaje*/
}

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header{
    background-color: #D9D9D9;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    
}

.logo{
    height: 10vh;
    padding-left: 1vh;
    align-items: center;
}

.fondo{
    display: flex;
    width: 100%;
}

/*navegacion*/
a{
    text-decoration: none;
    color: #161E54
}

a:hover{
    color: #20639B;
    font-size: 1.2em;
}

header ul{
    display: flex;
    align-items: center;
    padding: 0;
}

header li{
    list-style-type: none;
    margin: 0.5em;
}

nav p{
    line-height: 0.5rem;
}

/*index*/
#contenedor-index{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.itemindex{
    width: 25%;
    height: 8rem;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    color: #161E54;
    margin-top: 0.5em;
}

.i-quienessomos{
    background: #3CAEA3;
}

.i-infoacademica{
    background: #9BDD97;
}

.i-bolsatrabajo{
    background: #F6D55E;
}

.i-contacto{
    background: #ED553B;
}

/*Quienes somos*/

.iconoquienes{
    margin: 0 0 1em;
	padding: 0.5em 0;
	text-align: center;
	color: #161E54;
}

.tituloquienes{
	margin: 0 0 1em;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	color: #161E54;
}

.tarjetaquienes{
    background: white;
	margin-bottom: 2em;
	width: 80%;
    font-size: 1em;
	font-weight: 400;
	text-align: center;
}

.cardsquienes{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cardsquienes img{
	display: block;
	border:0;
	width: 100%;
	height: auto;
}


/*Info Academica*/

.iconoinfo{
    margin: 0 0 1em;
	padding: 0.5em 0;
	text-align: center;
	color: #161E54;
}

.tituloinfo{
	margin: 0 0 1em;
	font-size: 2em;
	font-weight: 300;
	text-align: center;
	color: #161E54;
}

.tarjetainfo{
    background: white;
	margin-bottom: 2em;
	width: 40%;
    font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}

.cardsinfo{
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cardsinfo figure{
	margin: 5%;
}

.cardsinfo img{
	display: block;
	border:0;
	width: 100%;
	height: auto;
}

/*Bolsa de trabajo*/
.box-bolsa{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}


.box-bolsa ul {
	
	list-style: none;
	padding: 3rem;
	margin: 0;
}

.titulos2{
    font-size: 2rem;
}
    


/*contacto*/
.titulos{
    text-align: center;
    font-size: 2.5rem;
}



.contenedor-contacto{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    -webkit-text-size-adjust: 100%;
    padding: 1.5rem;
    width: fit-content;
    gap: 1.5rem;
    width: 100%;  
    font-size: 1.5rem;
    margin-bottom: 10rem;
}


.contenedor-contacto2{

    height: auto;
    padding: 1rem;
    display:grid;
    
    /*grid-template-columns: 10rem 20rem 10rem;*/
   
    grid-template-areas: "uno dos";
    
    /*para meter margen entre columnas*/
}


.gridarea1{
    display: grid;
    grid-area: uno;
    margin-left: 6rem;
    margin-right: 6rem;
}

.form-long{
    padding:  2rem 2rem; /*primero el padding en la parte superior e inferior, luego a los lados*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input{
    padding: 0.5rem;
    margin: 0.5rem 0;
    border:none;
    border-bottom: solid #161E54 0.2rem;
    transition: all 0.5s;
}

#btm-submit, 
#btm-reset{
    padding: 1.5rem;
    margin: 1.5rem;
    border:none;
    background-color:#D9D9D9;
    color:#20639B;
    transition: all 0.5s;
}

#botones{
    display:flex;
    justify-content: center;   
}


.gridarea2{
    display:grid;
    grid-area: dos;
    grid-template-rows: 12%  29% 29% 29%;
}

.links-contacto{
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    align-content: start;
    grid-gap: 1rem;
}


.btm-redes{
    border: 0.2rem solid  #20639B;
    border-radius: 1rem;
    padding: 1rem;
}


/*
#sede1{
    width: 30%;
}
#sede2{
    width: 30%;
}
#sede3{
    width: 30%;
}



@media screen and (max-width: 600px){
    #sede1{
    width: 70%;
    
    }
    #sede2{
        width: 70%;
      
    }
    #sede3{
        width: 70%;
       
    }
}
*/

@media screen and  (max-width:980) {
    #sede1,
    #sede2,
    #sede3{
        width: 100%;
    }
}


/*footer*/ 
footer{
    background-color: #D9D9D9;
    font-size: 0.8em;
}

footer li{
    list-style-type: none;
    
}

.links{
    display: flex;
    justify-content: center;
    
}

.links a{
    margin-right: 1em;
}