*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

header{
    background-color: rgb(32, 99, 155);
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

img{
    height: 10vh;
    padding-left: 1vh;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
}

li{
    list-style-type: none;
    margin: 0.5em;
}

a{
    text-decoration: none;
}

a:hover{
    color:brown;
}

.titulos{
    text-align: center;
}

.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}

.sede1,
.sede2,
.sede3{
    width: 100%;

}

@media screen (min-width: 600px){
    .sede1{
        
    }
}

